*.pyc
*.log
*.swp
*.pem
.idea
py3env/
app/data/
__pycache__
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.tag*
node_modules
coverage
.DS_Store
.nyc_output
.env
.helmignore
.vscode
github_token
helm/**/*.tgz
jsHelper.js
.dockerignore
.pytest_cache/*
